body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
  color: #333;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
h1,
h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
  font-size: 18px;
  text-align: justify;
}
.info,
.section {
  text-align: left;
  margin-top: 30px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.info strong,
.section strong {
  color: #34495e;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
